$dark: #29406D;
$red: #DDC6B4;
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Montserrat-Medium.woff');
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/Montserrat-MediumItalic.woff');
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/Montserrat-ExtraBold.woff');
    font-display: swap;
}

*,
::after,
::before {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #ffffff;
    font-family: 'Montserrat';
    min-height: 100%;
}
h1,h2,h3,h4,h5,h6,p,ul,li {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
button, 
button:active, 
button:focus {
    outline: none;
}
.container {
    margin: 0 auto;
    max-width: 1180px;
    width: 100%;
}
.offer {
    color: #8D5A3E;
    text-decoration: underline;
    &:hover {
        color: $red;
        transition: .2s linear;
    }
}
.header {
    padding: 40px 0 55px 0;
    &__inner {
        display: flex;
        flex-direction: row;    
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        width: 174px;
        height: 36px;
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}
.title {
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 60px;
    text-transform: uppercase;
    &--intro {
        padding: 27px 0 22px 0;
        width: 700px;
    }
    &--list {
        margin-bottom: 35px;
    }
    &--for {
        position: relative;
        &::after {
            content: '';
            display: flex;
            flex: 0 0 auto;
            background-repeat: no-repeat;
            background-size: 100%;
            background-image: url('../img/for/title-item.svg');
            width: 27px;
            height: 51px;
            position: absolute;
            bottom: 11px;
            right: -19px;
        }
    }
    &--autor {
        margin-bottom: 35px;
        position: relative;
        color: #252B31;
        &::before {
            content: '';
            display: flex;
            flex: 0 0 auto;
            background-repeat: no-repeat;
            background-size: 100%;
            background-image: url('../img/for/title-item.svg');
            width: 27px;
            height: 51px;
            position: absolute;
            top: 10px;
            left: -40px;
        }
    }
}
.subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 44px;
    &--intro {
        width: 480px;
    }
    &--time {
        width: 300px;
        margin-left: 23px;
    }
    &--italic {
        font-style: italic;
    }
    &--how {
        width: 551px;
    }
    &--results {
        width: 525px;
        margin: 0 auto;
        margin-top: 20px;
    }
}
.text {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #252B31;
    &--decoration {
        padding: 0 0 24px 0;
        width: 510px;
        &::after {
            margin-top: 35px;
            display: block;
            content: '';
            width: 71px;
            height: 3px;
            background: #A66230;
        }
    }
    &--bold {
        font-weight: 800;
    }
    &--blue {
        color: $dark;
    }
    &--center {
        text-align: center;
    }
    &--white {
        color: #ffffff;
    }
    &--autor {
        margin-bottom: 35px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &--program {
        margin-bottom: 30px;
    }
}
.underline {
    position: relative;
    &--intro {
        display: inline;
        &::before {
            position: absolute;
            content: '';
            display: block;
            background-image: url('../img/intro/bg-item.svg');
            background-size: 100%;
            background-repeat: no-repeat;
            width: 305px;
            height: 70px;
            top: -7px;
            right: -40px;
            z-index: -1;
        }
        
    }
}
.button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 265px;
    height: 70px;
    border-radius: 20px;
    padding: 23px 0;
    text-align: center;
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Montserrat';
    background-color: $dark;
    &:hover {
        background-color: $red;
        transition: .2s linear;
    }
    &--brown {
        background-color: $red;
        border: 1px solid #161616;
        color: #161616;
        position: relative;
        margin: 0 auto;
        &:hover {
            background-color: $dark;
            color: #ffffff;
            transition: .2s linear;
        }
        &::before {
            content: url('../img/program/program-item.svg');
            display: flex;
            flex: 0 0 auto;
            position: absolute;
            top: 27px;
            left: -120px;
        }
    }
    &--results {
        margin: 0 auto;
        &::before {
            border: 1px $dark solid;
        }
    }
    &--buy {
        margin: 0 auto;
        border: none;
        width: 600px;
        cursor: pointer;
    }
}
.list {
    &__item {
        display: flex;
        align-items: baseline;
        margin-bottom: 30px;
        &:last-of-type {
            margin-bottom: 0;
        }
        &--circle {
            &__red {
                &::before {
                    content: '';
                    display: flex;
                    width: 10px;
                    height: 10px;
                    border-radius: 100%;
                    flex: 0 0 auto;
                    margin-right: 11px;
                    background-color: $red;
                }
            }
        }
        &--check {
            display: flex;
            align-items: baseline;
            &::before {
                content: url('../img/check.svg');
                display: flex;
                flex: 0 0 auto;
                margin-right: 10px;
                margin-left: -13px;
            }
        }
    }
    &__for {
        width: 515px;
    }
}
.intro {
    overflow: hidden;
    &__inner {
        padding: 30px 0 119px 0;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;
    }
    &__block {
        display: flex;
        align-items: center;
        margin-bottom: 38px;
    }
    &__img {
        width: 667px;
        position: absolute;
        right: -90px;
        bottom: 0px;
        &--d {
            display: block;
        }
        &--m {
            display: none;
        }
        img {
            display: block;
            width: 100%;
        }
    }
}
.for {
    padding: 102px 0 49px 0;
    background-color: $dark;
    position: relative;
    overflow: hidden;
    &::after {
        content: url('../img/for/for-item.svg');
        display: block;
        position: absolute;
        bottom: 0;
        right: -25px;
    }
    &__inner {
        padding: 0 45px 0 45px;
        margin: 0 auto;
    }
    &__block {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    &__img {
        display: block;
        position: relative;
        width: 480.89px;
        height: 540px;
        border: 1px solid #161616;
        border-radius: 10px;
        z-index: 100;
        &::before {
            content: '';
            display: block;
            background-color: $red;
            position: absolute;
            top: -15px;
            right: -15px;
            width: 100%;
            height: 100%;
            box-shadow: 30px 30px 30px #13274D;
            border-radius: 10px;
            z-index: -1;
        }
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}
.program {
    padding: 49px 0 50px 0;
    background-color: $dark;
    &__item {
        position: relative;
        background-color: #ffffff;
        padding: 90px 0 98px 0;
        box-shadow: 30px 30px 40px #16294F;
        border-radius: 10px;
        &::before {
            content: url('../img/program/program-item-l.svg');
            position: absolute;
            top: 40px;
            left: 40px;
        }
        &::after {
            content: url('../img/program/program-item-r.svg');
            position: absolute;
            bottom: 40px;
            right: 40px;
        }
    }
    &__inner {
        padding: 60px 100px 60px 180px;
        display: flex;
        flex-wrap: wrap;
        &--item {
            width: 32%;
            margin-bottom: 60px;
            margin-right: 10px;
            &:last-child {
                margin-bottom: 0;
                margin-right: 0;
            }
        }
    }
}
.results {
    padding: 50px 0 87px 0;
    background-color: $dark;
    &__inner {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        &--item {
            width: 48%;
            padding: 48px 24px 48px 50px;
            background-color: $dark;
            box-shadow: 20px 20px 30px #16294F;
            border-radius: 10px;
        }
    }
}
.autor {
    background: $dark;
    padding: 112px 0 65px 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
    &__block {
        position: relative;
        width: 580px;
        background-color: #ffffff;
        padding: 50px 51px 56px 80px;
        box-shadow: 20px 20px 30px #16294F;
        border-radius: 10px;
        margin-left: auto;
        &::after {
            content: url('../img/for/for-item.svg');
            display: block;
            position: absolute;
            top: 50%;
            right: -150px;
        }
    }
    &__inner {
        display: flex;
        flex-direction: row;
    }
    &__img {
        display: block;
        width: 808px;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
    }
}
.buy {
    padding: 110px 0 50px 0;
    position: relative;
    z-index: 1;
    &__form {
        display: block;
        margin: 30px auto 0 auto;
    }
    &__input {
        display: block;
        margin: 0 auto 20px auto;
        width: 600px;
        height: 80px;
        border-radius: 20px;
        border: 1px $dark solid;
        padding: 28px 30px;
        font-size: 22px;
        font-family: 'Montserrat', sans-serif;
        outline: none;
    }
    &__small {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        small {
            letter-spacing: 0.03em;
            color: #252B31;
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
        }
    }
}
.footer {
    background-color: $dark;
    padding: 80px 0;
    &__inner {
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &--text {
            font-weight: normal;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            color: #ffffff;
        }
        &--email {
            font-weight: normal;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            text-decoration: underline;
            color: #ffffff;
            &:hover {
                color: $red;
                transition: .2s linear;
            }
        }
    }
    &__link {
        margin: 60px auto 0 auto;
        display: flex;
        justify-content: space-between;
        width: 550px;
        &--item {
            display: block;
            width: 65px;
            height: 65px;
            fill: $red;
            &:hover {
                &:hover {
                    fill: #8D5A3E;
                    transition: .2s linear;
                }
            }
            svg {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }
}
@media (max-width: 1440px) {
    .autor {
        &__img {
            left: -80px;
        }
    }
    .for {
        &::after {
            right: -90px;
        }
    }
}
@media (max-width: 1190px) {
    .container {
        padding: 0 1%;
    }
    .header {
        padding: 40px 0 20px 0;
    }
    .intro {
        &__img {
            width: 55%;
        }
    }
    .for {
        &__img {
            height: auto;
            width: 40%;
        }
        &__inner {
            padding: 0 20px;
        }
    }
    .program {
        &__inner {
            padding: 60px 100px 60px 150px;
        }
    }
    .autor {
        &__img {
            left: -190px;
        }
        &__block {
            &::after {
                display: none;
            }
        }
    }
}
@media (max-width: 1112px) {
    .intro {
        &__img {
            width: 620px;
            right: -120px;
        }
    }
    .program {
        &__inner {
            padding: 50px 70px 50px 100px;
        }
        &__item {
            padding: 80px 0;
        }
    }
}
@media (max-width: 1040px) {
    .title {
        &--program {
            margin-left: 151px;
        }
        &--for {
            text-align: center;
            &::after {
                display: none;
            }
        }
    }
    .intro {
        &__img {
            width: 570px;
        }
    }
    .for {
        &__inner {
            padding: 0;
        }
        &__block {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }
        &__img {
            margin-top: 60px;
            width: 70%;
        }
    }
    .list {
        &__for {
            width: 80%;
        }
    }
}
@media (max-width: 1020px) {
    .intro {
        &__img {
            width: 600px;
            right: -190px;
        }
    }
}
@media (max-width: 991px) {
    .container {
        padding: 0 2%;
    }
    .title {
        &--intro {
            order: 2;
        }
        &--program {
            margin-left: 0;
            margin-bottom: 30px;
            text-align: center;
        }
        &--buy {
            width: auto;
        }
    }
    .text {
        &--results {
            margin-right: 30px;
            margin-top: 15px;
        }
    }
    .subtitle {
        line-height: 36px;
        &--intro {
            order: 1;
        }
        &--how {
            width: 55%;
            order: 3;
        }
        &--time {
            order: 5;
            width: 40%;
            margin-left: 0;
        }
        &--results {
            padding: 0 2%;
        }
        &--program {
            background-color: #231F20;
            padding: 8px 41px;
            border-radius: 10px;
            margin-right: 20px;
            margin: 0 0 0 20px;
        }
    }
    .button {
        &--intro {
            margin-top: 30px;
        }
    }
    .header {
        padding: 30px 0;
    }
    .intro {
        &__inner {
            padding: 0 0 100px 0;
        }
        &__img {
            width: 600px;
        }
        &__block {
            order: 4;
            flex-direction: column-reverse;
            margin-top: 20px;
            align-items: flex-start;
        }
    }
    .for {
        padding: 80px 0 50px 0;
        &__block {
            margin-top: 40px;
            flex-direction: column-reverse;
            align-items: center;
        }
        &__img {
            width: 60%;
        }
    }
    .list {
        &__for {
            width: 80%;
        }
    }
    .program {
        padding: 60px 0;
        &__inner {
            align-items: center;
            justify-content: space-between;
            &--item {
                width: 45%;
                margin-right: 0;
            }
        }
    }
    .autor {
        padding: 60px 0 0 0;
        &__inner {
            flex-direction: column-reverse;
            align-items: center;
        }
        &__block {
            width: 90%;
            margin-left: 0;
        }
        &__img {
            margin-top: 40px;
            width: 700px;
            position: static;
        }
    }
}
@media (max-width: 834px) {
    .title {
        &--results {
            width: auto;
        }
    }
    .subtitle {
        &--results {
            width: auto;
        }
    }
    .results {
        &__inner {
            flex-direction: column;
            align-items: center;
            &--item {
                width: 80%;
                margin-bottom: 30px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .footer {
        &__link {
            width: 45%;
            &--item {
                width: 50px;
                height: 50px;
            }
        }
    }
}
@media (max-width: 768px) {
    .intro {
        &__img {
            width: 570px;
        }
    }
    .program {
        &__inner {
            flex-direction: column;
            align-items: center;
            padding: 50px 100px;
            &--item {
                width: 90%;
            }
        }
    }
    .autor {
        &__img {
            margin: 30px auto 0 auto;
            width: 70%;
        }
    }
    .footer {
        &__inner {
            &--text {
                font-size: 24px;
            }
            &--email {
                font-size: 24px;
            }
        }
    }
}
@media (max-width: 667px) {
    .title {
        &--intro {
            padding: 20px 0;
            line-height: 65px;
        }
    }
    .text--program {
        margin-bottom: 20px;
    }
    .subtitle {
        &--intro {
            padding: 0;
        }
        &--how {
            margin: 0;
        }
        &--results {
            padding: 20px 3% 0 3%;
        }
    }
    .intro {
        &__img {
            z-index: -2;
            width: 550px;
            right: -150px;
            &--d {
                display: none;
            }
            &--m {
                display: block;
            }
        }
    }
    .program {
        &__inner {
            padding: 50px 0;
            &--item {
                margin-bottom: 40px;
            }
        }
    }
    .results {
        &__inner {
            &--item {
                width: 90%;
            }
        }
    }
    .button {
        &--buy {
            width: 90%;
        }
    }
    .buy {
        padding: 60px 0;
        &__input {
            width: 90%;
        }
    }
    .footer {
        &__inner {
            &--text {
                font-size: 21px;
            }
            &--email {
                font-size: 21px;
            }
        }
        &__link {
            margin: 40px auto 0 auto;
            width: 40%;
            &--item {
                width: 35px;
                height: 35px;
            }
        }
    }
    .list {
        &__results {
            width: 90%;
        }
        &__item {
            &--check {
                margin-bottom: 25px;
                &::before {
                    width: 17px;
                    height: 17px;
                    display: flex;
                    flex: 0 0 auto;
                    margin-right: 7px;
                }
            }
        }
    }
}
@media (max-width: 568px) {
    .container {
        padding: 0 3%;
    }
    .header {
        padding: 15px 0 0 0;
        &__logo {
            width: 140px;
            height: 29px;
        }
    }
    .title {
        font-size: 32px;
        line-height: 40px;
        &--intro {
            width: 360px;
            padding: 20px 0 10px 0;
        }
        &--for {
            text-align: left;
        }
        &--autor {
            width: auto;
            margin-bottom: 35px;
            &::before {
                width: 20px;
                height: 44px;
                position: absolute;
                top: 10px;
                left: -25px;
            }
        }
        &--buy {
            font-size: 18px;
            line-height: 22px;
        }
        &--program {
            text-align: left;
            padding: 0 0 0 5%;
            margin-bottom: 0;
        }
        &--results {
            text-align: left;
        }
    }
    .subtitle {
        font-size: 18px;
        line-height: 21px;
        &--intro {
            font-size: 18px;
            line-height: 22px;
            width: 261px;
        }
        &--how {
            font-size: 14px;
            line-height: 18px;
        }
        &--time {
            width: 200px;
        }
        &--results {
            margin-top: 0;
            text-align: left;
            padding: 20px 0 0 0;
        }
        &--buy {
            font-size: 21px;
        }
    }
    .text {
        font-size: 16px;
        line-height: 19px;
        &--autor {
            margin-bottom: 20px;
        }
        &--offer {
            font-size: 14px;
        }
        &--before {
            color: $red;
        }
        &--after {
            color: #8ABBF8;
        }
        &--course {
            margin-bottom: 30px;
            &::before {
                margin-right: 15px;
            }
            &:nth-of-type(1) {
                &::before {
                    width: 34px;
                    height: 42px;
                }
            }
            &:nth-of-type(2) {
                &::before {
                    width: 33px;
                    height: 31px;
                }
            }
            &:nth-of-type(3) {
                &::before {
                    width: 33px;
                    height: 31px;
                }
            }
            &:nth-of-type(4) {
                &::before {
                    width: 33px;
                    height: 37px;
                }
            }
            &:nth-of-type(5) {
                &::before {
                    width: 33px;
                    height: 30px;
                }
            }
            &:nth-of-type(6) {
                &::before {
                    width: 34px;
                    height: 33px;
                }
            }
            &:nth-of-type(7) {
                &::before {
                    width: 33px;
                    height: 30px;
                }
            }
        }
    }
    .underline {
        position: relative;
        &--intro {
            &::before {
                content: '';
                position: absolute;
                display: block;
                width: 190px;
                height: 45px;
                background-size: 100%;
                background-repeat: no-repeat;
                background-image: url('../img/intro/bg-item.svg');
                top: -5px;
                right: -13px;
                z-index: -1;
            }
            
        }
        &--autor {
            width: 285px;
            &::before {
                position: absolute;
                content: url('../img/autor/autor-underline-m.png');
                top: 13px;
                right: 0;
                z-index: -1;
            }
        }
    }
    .list {
        &__item {
            &--circle {
                &::before {
                    width: 8px;
                    height: 8px;
                }
            }
        }
        &__for {
            width: 90%;
        }
    }
    .intro {
        &__img {
            width: 420px;
        }
        &__inner {
            padding: 20px 0 100px 0;
        }
    }
    .button {
        width: 217px;
        height: 55px;
        font-size: 18px;
        padding: 18px 53px;
        //border: 1px #ffffff solid;
        &--intro {
            margin-top: 25px;
        }
        &--brown {
            &::before {
                display: none;
            }
        }
        &--buy {
            width: 90%;
        }
    }
    .for {
        padding: 60px 0 50px 0;
        &::after {
            display: none;
        }
        &__block {
            margin-top: 0;
        }
        &__inner {
            padding: 0;
            &::before {
                top: -10px;
                right: -10px;
            }
        }
    }
    .program {
        &__item {
            margin: 0 auto;
            padding: 50px 0;
            &::after{
                content: '';
                background-image: url('../img/program/program-item-l.svg');
                background-repeat: no-repeat;
                background-size: 100%;
                display: block;
                width: 60px;
                height: 65px;
                top: 20px;
                right: 20px;
                transform: scale(-1, 1);
            }
            &::before {
                content: '';
                background-image: url('../img/program/program-item-m-l.svg');
                background-repeat: no-repeat;
                background-size: 100%;
                display: block;
                width: 60px;
                height: 65px;
                top: 90%;
                left: 20px;
            }
            
        }
    }
    .autor {
        padding: 30px 0 0 0;
        &__block {
            padding: 40px 30px;
        }
        &__img {
            width: 80%;
        }
    }
    .buy {
        &__input {
            height: 55px;
            font-size: 17px;
            margin: 0 auto 15px auto;
        }
    }
    .footer {
        padding: 60px 0;
    }
}
@media (max-width: 500px) {
    .intro {
        &__img {
            width: 390px;
        }
    }
    .program {
        &__inner {
            padding: 40px 2px;
        }
    }
}
@media (max-width: 430px) {
    .intro {
        &__img {
            right: -130px;
            width: 385px;
        }
    }
    .subtitle {
        &--time {
            width: 40%;
        }
    }
    .intro {
        &__inner {
            padding: 20px 0 75px 0;
        }
    }
}
@media (max-width: 414px) {
    .title {
        &--autor {
            font-size: 27px;
            line-height: 32px;
        }
    }
    .subtitle {
        &--program {
            padding: 8px;
            font-size: 16px;
        }
    }
    .text {
        &--about {
            font-size: 12px;
            line-height: 16px;
        }
    }
    .program {
        &__item {
            padding: 70px 0 90px 0;
        }
    }
    .results {
        &__inner {
            &--item {
                width: 100%;
                padding: 48px 10px 48px 32px;
            }
        }
    }
    .autor {
        padding: 0;
        &__block {
            width: 100%;
            padding: 40px 25px;
        }
        &__img {
            width: 95%;
        }
    } 
    .footer {
        padding-bottom: 50px;
        &__inner {
            margin-top: 25px;
            &--text {
                font-size: 14px;
            }
            &--email {
                font-size: 14px;
            }
        }
        &__link {
            width: 80%;
        }
    }
}
@media (max-width: 390px) {
    .intro {
        &__img {
            right: -120px;
        }
        &__inner {
            padding: 20px 0 60px 0;
        }
        &__block {
            margin-top: 15px;
        }
    }
    .title {
        &--intro {
            font-size: 30px;
            line-height: 36px;
        }
    }
    .subtitle {
        &--intro {
            width: 225px;
        }
        &--time {
            width: 120px;
            font-size: 14px;
        }
    }
    .underline {
        &--intro {
            display: block;
            &::before {
                top: -5px;
                left: -5px;
            }
        }
    }
    .program {
        &__item {
            &::before {
                top: 92%;
            }
        }
    }
    .list {
        &__program {
            margin-top: 25px;
        }
    }
}
@media (max-width: 375px) {
    .title {
        &--intro {
            font-size: 25px;
            line-height: 33px;
        }
    }
    .intro {
        &__img {
            width: 350px;
        }
    }
}
